upstream summit_2015_{{ settings }} {
    server unix:///tmp/summit_{{ settings }}.socket;
}

server {
    listen 80;
    server_name {{ domain }};

    location / {
      return 302 /2015/;
    }

    location /2015/ {
        uwsgi_pass  summit_2015_{{ settings }};
        include     uwsgi_params;
    }

    location /2015/static/ {
        alias {{ apps_path }}/summit_{{ settings }}/static/;
    }

    location /2015/media/ {
        alias {{ apps_path }}/summit_{{ settings }}/media/;
    }
}
