upstream {{ project }}_{{ settings }} {
    server unix:///tmp/{{ project }}_{{ settings }}.socket;
}

server {
    listen 80;
    server_name {{ domain }};

    location / {
        uwsgi_pass  {{ project }}_{{ settings }};
        include     uwsgi_params;
    }

    location /static/ {
        alias {{ app_path }}/static/;
    }

    location /media/ {
        alias {{ app_path }}/media/;
    }
}